.row {
  display: flex;
  flex-wrap: wrap;
  // margin-inline: calc(-1 * $padding-inline-container);
}

.col {
  flex: 1 0 auto;
  max-width: 100%;
}

@include create-selector;

@each $prop in $query {
  @include breakpoint($prop) {
    @include create-selector($prop);
  }
}
