section .container {
  min-height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq {
  @include breakpoint("lg") {
    height: 75vh;

    align-items: center;
    justify-content: center;
  }
  background-color: #fff;
  border-radius: 1rem;
}
