@use "sass:map";

// Media Query
@mixin breakpoint($query) {
  @if $query == "sm" {
    @media (min-width: map.get($media-query, sm)) {
      @content;
    }
  }

  @if $query == "md" {
    @media (min-width: map.get($media-query, md)) {
      @content;
    }
  }

  @if $query == "lg" {
    @media (min-width: map.get($media-query, lg)) {
      @content;
    }
  }

  @if $query == "xl" {
    @media (min-width: map.get($media-query, xl)) {
      @content;
    }
  }
}

// initializing cols

@mixin create-selector($breakpoint: null) {
  $infix: if($breakpoint == null, "", "-#{$breakpoint}");

  @for $i from 1 through $columns {
    $width: calc(((100% / $columns) * $i));

    .col#{$infix}-#{$i} {
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}
